.about{
    &-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &-content{
        max-width: 500px;
        &_text{
            margin-top: 40px;
        }
    }
    &-description{
        margin-top: 15px;
    }
}

.numbers{
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.number-item{
    padding: 55px;
    border: 1px solid $default;
    border-radius: 100%;
    &_number{
        font-size: 38px;
        line-height: 1.1;
    }

    &_number-descr{
        font-size: 14px;
        font-weight: 500;
    }
}