.descriptor{
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.about-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-content{
    max-width: clamp(300px ,54.905vw ,750px );
}

.feature{
    margin-top: 100px ;
    flex-direction: column;
}

.feature-items{
    max-width: 670px;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: clamp(260px ,23.426vw ,320px);
    border-bottom: 1px solid rgba($default, .2);
    &:nth-child(odd){
        margin-right: 20px;
    }
}

@include mobile {
    .feature{
        justify-content: center;
    }
    .feature-item:nth-child(odd){
        margin-right: 0;
    }
    
}

@include laptop {
    .about-content{
        max-width: 46.875em;
    }
}

@include tablet {
    // .about-content{
    //     max-width: 750px;
    // }
}