.experience-slider{
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    img{

        height: 380px;
    }
    .slider-image{
        height: 380px;
    }
}

.experience-container{
    h5{
        display: flex;
        align-self: flex-start;
        margin-top: 10px;
        color: $default;
        &:hover{
            cursor: pointer;
        }
    }
}