.swiper{
    position: relative;
    height: 95vh;
}

.swiper-slide{
    .slider-image{
        position: relative;
        &::after{
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($default, .4);
        }
    }
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        
    }
}

.slider-button{
    z-index: 20;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    border-radius: 100%;
    border: 1px solid $white;
    color: $white;
    padding: 10px;
    &:hover{
        cursor: pointer;
        color: $default;
        background-color: $white;

    }
    
}

.slider-control{
    position: absolute;
    top: auto;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}