.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    padding: 20px 0;
    &-container{
        justify-content: space-between;
        align-items: center;
      
    }
    &-left{
        display: flex;
        align-items: center;
        gap: 20px;
        .hamburger{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: 1px solid #000;
            justify-content: center;
            align-items: center;
            .burger_line_container{
                display: flex;
                flex-direction: column;
                .burger_line{
                    display: block;
                    width: 15px;
                    height: 1px;
                    background-color: #333;
                    margin-bottom: 5px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                   
                }
            }
            &:hover{
                cursor: pointer;
                background-color: $accent;
                border: 1px solid $accent;
                .burger_line{
                    background-color: $white;
                    transition: all .3s ease-in-out;
                }

            }
        }
    }

    &-right{
        display: flex;
        align-items: center;
        gap: 20px;
        
    }
    .logo-container{
        .logo{
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

.is-active{
    .burger_line_container{
        justify-content: center;
        align-items: center;
        .burger_line{
            &:nth-child(1){
                margin-bottom: 0;
                transform: rotate(45deg);
                transition: transform .3s ease-in-out;
                transition-delay: .1s;
            }
            &:nth-child(3){
                display: none;
                transition: transform .3s ease-in-out;
            }
            &:nth-child(2){
                margin-bottom: 0;
                transform: rotate(-45deg);
                transition: transform .3s ease-in-out;
                transition-delay: .1s;
            }
        }
    }
}   



.news-block{
    background: $bg;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    .news-container{
        width: 100vw;
        height: 0vh;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-end;
        .bread-crumbs{
            opacity: 0;
            transition: opacity 2s ease-in-out;
            transition-delay: .6s;
        }
        .news-heading{
            margin-top: 20px;
            opacity: 0;
            transition: opacity 2s ease-in-out;
            transition-delay: .6s;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                font-size: 36px;
                font-weight: 400;
                max-width: 250px;
            }
            .slider_control{
                max-width: 300px;
                display: flex;
                justify-content: space-between;
                .swiper-button-prev{
                    position: static;
                    &::after{
                        content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /></svg>");
                    }
                }
                .swiper-button-next{
                    position: static;
                    &::after{
                        content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /></svg>");
                    }
                }
            }
        }
        .news-posts{
            opacity: 0;
            transition: opacity 2s ease-in-out;
            transition-delay: .6s;
            margin-top: 40px;
            grid-gap: 20px;
            padding-bottom: 20px;
            .post{
                border: 1px solid $default;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                max-width: 420px;
                height: 300px;
                .post-date{
                    align-self: flex-end;
                }
                .post-heading{
                    max-width: 250px;
                }
            }
        }
    }
}


.is-open{
    .news-container{
        height: 100vh;
        transition: height .5s ease-in-out;
        .bread-crumbs{
            opacity: .5;
        }
        .news-heading{
            opacity: 1;
        }
        .news-posts{
            opacity: 1;
        }
    }
}