
//header style
.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.header-container{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: $white;
}

.header__left{
    align-items: center;
    gap: 20px;
    .hamburger{
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border: 1px solid $white;
        &__lines{
            width: 15px;
            &__line{
                display: block;
                width: 100%;
                height: 1px;
                margin-bottom: 5px;
                background-color: $white;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &:hover{
            cursor: pointer;
            background-color: $white;
            .hamburger__lines{
                &__line{
                    background-color: $accent;
                }
            }
        }
    }
    .translate{
        
        &__link{
            color: $white;
        }
    }
}

.logo{
    font-size: 24px;
    font-weight: 500;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}


.header__right{
    align-items: center;
    gap: 20px;
    
    .header__contact{
       color: $white;
    }
}

.header-button{
    &__book{
        display: none;
        &__icon{

        }
        &__text{

        }
    }
}

//header modificator
.header--dark{
    
}
.button--white{
    border: 1px solid $white;
    color: $white;
    &:hover{
        border: 1px solid $white;
        background-color: $white;
        color: $accent;        
    }
}

.hamburger--open{
    .hamburger__lines{
        width: 15px;
        &__line{
            display: block;
            width: 100%;
            height: 1px;
            margin-bottom: 5px;
            background-color: $white;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &:hover{
        cursor: pointer;
        background-color: $white;
        .hamburger__lines{
            &__line{
                background-color: $accent;
            }
        }
    }
}