.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  transition: padding .8s;

}

.header__container{
  justify-content: space-between;
  align-items: center;
}

.logo-wrap{
  a{
    color: $accent;
  }
  img{
    max-height: 80px;
    transition: width .8s;
  }
}

.nav{
  display: flex;
  justify-content: flex-end;
  color: $accent;
  width: 100%;
  align-items: center;
  font-size: 0.75rem;
  text-transform: capitalize;

  ul{
    align-items: center;
    gap: 2.5em;
    li{
      a{
        color: $white;
        letter-spacing: .5px;
        font-weight: 300;
      }
    }
  }
}

.nav-wrap{
  align-items: center;
  justify-content: end;
  gap: 2.5em;
  height: 100%;
}

.burger{
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  transition: all .5s ease-in-out;
  &:hover{
    cursor: pointer;
    gap: 0;
  }
  &__item{
    display: block;
    width: 30px;
    height: 1px;
    background-color: $accent;
    transition: all .5s ease-in-out;
  }
}

.nav-items{
  transform: translate(100px);
  opacity: 0;
  transition: all .5s ease-in-out; 
  overflow: hidden;
  width: 0%;
}


.button-cta{
  display: flex;
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: $accent;
  background-color: transparent;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px solid $accent; 
  transition: all .8s;
  .btn-icon{
    font-size: 18px;
  }
  &:hover{
    cursor: pointer;
    gap: 15px;
    color: $white;
    border-color: $white;
   
  } 
}


.nav{
  &:hover{
    .nav-items{
      gap: 2.5em;
      transform: translate(0);
      opacity: 1;
      overflow: hidden;
      width: 100%;
      padding: 5px;
      transition: all .5s ease-in-out;
    }
    .burger{
      transition: all .5s ease-in-out;
      transform: rotate(90deg);
      gap: 0;
    }
  }
}


@include tablet{
  .desktop-nav{
    display: none;
  }

  .mobile-nav{
    display: flex;
  }

  .nav-items__mobile{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 0vh;
    gap: 40px;
    background-color: $default;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: height .8s;
    li{
      a{
        color: $white;
        font-size: 22px;
        text-transform: capitalize;
      }
    }
  }
}

@media (min-width:768.98px) {
  .mobile-nav{
    display: none;
  }
  .nav-items__mobile{
    display: none;
  }
}

.mobile-menu__active{
  height: 100vh;
}