.header-container{
    justify-content: space-between;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 0;
    z-index: 99;

}

.nav-item{
    margin: 0 20px;
    color: $white;
    font-size: clamp(12px , 0.878vw, 14px);
}

.navigation{
    align-items: center;
}

button{
    padding: 18px 35px;
    color: $white;
    font-size: clamp(12px , 0.878vw, 14px);
    border: 1px solid $accent;
    background-color: $accent;
    transition: all .6s;
    &:hover{
        cursor: pointer;
        background-color:darken($accent, 20%);
        border: 1px solid darken($accent, 20%);
    }
}

.book-button{
    margin-left: 20px ;
}

.burger{
    width: 30px;
    flex-direction: column;
    margin: 0 20px 0 20px;
    &:hover{
        cursor: pointer;
    }
    &_line{
        width: 100%;
        height: 1px;
        background-color: $white;
        margin-bottom: 8px;
        &:last-child{
            margin-bottom: 0;
        }
        
    }
}


@include tablet {
    .nav-items{
        display: none;
    }
}