.hero{
    &_content{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    &_h1{
        position: relative;
        z-index: 2;
        max-width: 650px;
        color: $white;
        text-align: center;
    }
}