.hero{
    &_content{
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0 20px;
    }
    &_h1{
        position: static;
        z-index: 2;
        max-width: 650px;
        color: $white;
        text-align: center;
    }
}