.swiper-restaurant{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 95vh;
    margin-top: 100px;
    img{
        height: 95vh;
    }
    .swiper-pagination{
        display: flex;
        margin: 0 0 40px 40px;
        .swiper-pagination-bullet{
            background-color: $white;
            opacity: 1;
            margin: 0 10px 0 10px;
        }
        .swiper-pagination-bullet-active{
            background-color: $accent;
        }
    }
}

.restaurant{
    .swiper-slide{
        position: relative;
    }
}

.slide-content{
    position: absolute;
    top: 50%;
    left: 40px;
    text-align: left;
    transform: translateY(-50%);
    h3{
        color: $white;
        margin-bottom: 20px;
    }
}

.slider-descr{
    max-width: 430px;
    color: $white;
    font-family: 'Cormorand Garamond';
    font-weight: normal;
    line-height: 1.4;
    font-size: $regular;

}