.rooms__container{
  flex-direction: column;
  justify-content: center;
}

.post-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5vw;
  row-gap: 100px;
}
@include laptop{

}

.post__image{
  max-height: 430px;
}

@include laptop {
  .post__image{
    max-height: 360px;
  }
}

@include tablet {
  .post__image{
    max-height: 100%;
  }
}

.post-list__item{
  display: flex;
  flex-direction: column;
  align-items: center;
}