.rooms__container{
  flex-direction: column;
  justify-content: center;
}

.post-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 8.333vw;
  row-gap: 8.333vw;
}
@include laptop{

}

.post__image{
  max-height: 430px;
}

@include laptop {
 
}

@include tablet {
  .post__image{
    max-height: 432px;
  }
  .post-list{
    grid-template-columns: 1fr;
  }
  
}

.post-list__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  &:nth-child(3n){
    padding-left: 20%;
    padding-right: 20%;
    grid-column: 1/2 span;
  }
}

@include tablet {
  .post-list__item{
    &:nth-child(3n){
      padding-left: 0;
      padding-right: 0;
      grid-column: 1/1 span;
    }
  }
}