.section-descr{
    color: $default;
}


.wellnes-items{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-gap:20px;
}

.wellnes-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    img{
        width: 100%;
        height: 430px;
        position: relative;
        object-fit: cover;
        width: 600px;
    }
}

.wellnes-descr{
    margin-top: 10px;
}

.wellnes-section{
    .feature-items{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}