<section class="about section">
    <div class="container about-container flex">
        <div class="about-content">
            <h2>Descoperă o nouă <span class="italic">experiență</span></h2>
            <p class="about-description">Hotel Central Residence</p>
            <p class="about-content_text">
                Totdeauna  am avut cea mai mare grijă de personalele cazate la noi oferindule cu putiință cele mai bune condiții. Suntem în continuă căutare a metodelor optimale pentru ca cazarea voastră să aibă un gust persistent de liniște și împăcare sufletească.
                <span class="delimiter"></span>
                Împrejurările vă vor creea senzație da aflare în sânul naturii cu comoditațile unui oraș. Aici voi veți decide cum trenuie să fie ziua de astăzi, plină de verdeață și ciripit de păsări sau un centru de oraș unde veți putea găsi orice ați avea nevoie
            </p>
        </div>
        <div class="numbers">

            <div class="number-item">
                <p class="number-item_number italic">10,0</p>
                <p class="number-item_number-descr">Local Point</p>
            </div>

            <div class="number-item">
                <p class="number-item_number italic">10,0</p>
                <p class="number-item_number-descr">Local Point</p>
            </div>

            <div class="number-item">
                <p class="number-item_number italic">10,0</p>
                <p class="number-item_number-descr">Local Point</p>
            </div>

            <div class="number-item">
                <p class="number-item_number italic">10,0</p>
                <p class="number-item_number-descr">Local Point</p>
            </div>

        </div>
    </div>
</section>