<section class="section about-section">
    <div class="container about-container flex">
        <div class="about-content">
            <span class="descriptor">Despre hotel</span>
            <h4 class="about-content_heading">
                Amplasați în inima orașului vă întîmpinăm cu camere  comfortabile și pline de liniște. 
                Bunăstarea voastră este importantă de asta vă propunem cele două saune din incintă care creează
                 motiv aparte pentru a alege cazarea la noi. Dispunem de restaurant și sala de conferințe pentru 
                 a vă invălui cu grijă și comfort indiferent de motivul cazării.
            </h4>
        </div>
        <div class="feature flex">
            <span class="descriptor">hotel central - Facilități</span>
            <div class="feature-items flex">
                <div class="feature-item">
                    <h6 class="feature-items_text">Room Service</h6>
                    <img class="feature-items_icon" src="./img/feature-icon__roomservice.svg" alt="feature icon">
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Parcare internă</h6>
                    <img class="feature-items_icon" src="./img/feature-icon__parking.svg" alt="feature icon">
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Restaurant</h6>
                    <img class="feature-items_icon" src="./img/feature-icon__menu.svg" alt="feature icon">
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Zonă pentru fumători</h6>
                    <img class="feature-items_icon" src="./img/feature-icon__smok.svg" alt="feature icon">
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Sauna</h6>
                    <img class="feature-items_icon" src="./img/feature-icon__wellnes.svg" alt="feature icon">
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Free wifi</h6>
                    <img class="feature-items_icon" src="./img/feature-icon__wifi.svg" alt="feature icon">
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Sala de conferințe</h6>
                    <img class="feature-items_icon" src="./img/feature-icon__conference.svg" alt="feature icon">
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Sapălătorie</h6>
                    <img class="feature-items_icon" src="./img/feature-icon__wash.svg" alt="feature icon">
                </div>
            </div>
        </div>
    </div>
</section>