<section class="section about-section">
  <div class="container about__container flex">
    <p class="section-descriptor">despre hotel</p>
    <p class="h3 about__descripton">
      Amplasați în inima orașului vă întîmpinăm cu camere  comfortabile și pline de liniște. Bunăstarea voastră este importantă de asta vă propunem cele două saune din incintă care creează motiv aparte pentru a alege cazarea la noi. Dispunem de restaurant și sala de conferințe pentru a vă invălui cu grijă și comfort indiferent de motivul cazării.
    </p>
  </div>
  <div class="container features features__about flex">
    <p class="section-descriptor">hotel central - facilități</p>
    <div class="feature-list flex">
      <div class="feature-item flex">
        <p class="feature-name">room service</p>
        <div class="icon-wrap">
          <img src="./img/feature-icon__roomservice.svg" alt="" class="icon">
        </div>
      </div>
      <div class="feature-item flex">
        <p class="feature-name">parcare internă</p>
        <div class="icon-wrap">
          <img src="./img/feature-icon__parking.svg" alt="" class="icon">
        </div>
      </div>
      <div class="feature-item flex">
        <p class="feature-name">restaurant</p>
        <div class="icon-wrap">
          <img src="./img/feature-icon__menu.svg" alt="" class="icon">
        </div>
      </div>
      <div class="feature-item flex">
        <p class="feature-name">zonă pentru fumători</p>
        <div class="icon-wrap">
          <img src="./img/feature-icon__smok.svg" alt="" class="icon">
        </div>
      </div>
      <div class="feature-item flex">
        <p class="feature-name">Sauna</p>
        <div class="icon-wrap">
          <img src="./img/feature-icon__wellnes.svg" alt="" class="icon">
        </div>
      </div>
      <div class="feature-item flex">
        <p class="feature-name">free wifi</p>
        <div class="icon-wrap">
          <img src="./img/feature-icon__wifi.svg" alt="" class="icon">
        </div>
      </div>
      <div class="feature-item flex">
        <p class="feature-name">sala de conferență</p>
        <div class="icon-wrap">
          <img src="./img/feature-icon__conference.svg" alt="" class="icon">
        </div>
      </div>
      <div class="feature-item flex">
        <p class="feature-name">Spălătorie</p>
        <div class="icon-wrap">
          <img src="./img/feature-icon__wash.svg" alt="" class="icon">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feature-slider">
  <div class="container feature-slider__container">
    <!-- Slider main container -->
<div class="swiper slider">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide overlay">
      <div class="img-wrap">
        <img src="./img/feature-slider_image.jpg" alt="">
      </div>
    </div>

    <div class="swiper-slide overlay">
      <div class="img-wrap">
        <img src="./img/feature-slider_image.jpg" alt="">
      </div>
    </div>

    <div class="swiper-slide overlay">
      <div class="img-wrap">
        <img src="./img/feature-slider_image.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="controll-wrap">
    <!-- If we need pagination -->
  <div class="pagination"></div>
  <!-- If we need navigation buttons -->
  <div class="button-wrap"> 
    <div class="button button-prev">
      <span class="material-symbols-outlined">
        chevron_left
        </span>
    </div>
    <div class="button button-next">
      <span class="material-symbols-outlined">
        chevron_right
        </span>
    </div>
  </div>
  </div>
</div>
  </div>
</section>