<section id="conference" class="section conference">
  <div class="container conference__container">
    <div class="section-info flex">
      <p class="section-descriptor">Hotel central  -  sala de conferințe</p>
      <p class="h2"><span class="italic">Comfort</span> pentru orice <span class="italic">activitate</span>  </p>
      <p class="section-description mont">
        Vă propunem să gustați un ansamblu de tradiții moldovenești transformate în mâncare care-ți trezește pofta de viață pentru a petrece clipe de neuitat și a simți gusturi de nedescris
      </p>
    </div>

    <div class="swiper slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide overlay">
          <div class="img-wrap">
            <img src="./img/feature-slider_image.jpg" alt="">
          </div>
        </div>
    
        <div class="swiper-slide overlay">
          <div class="img-wrap">
            <img src="./img/feature-slider_image.jpg" alt="">
          </div>
        </div>
    
        <div class="swiper-slide overlay">
          <div class="img-wrap">
            <img src="./img/feature-slider_image2.jpg" alt="">
          </div>
        </div>
      </div>
    
      <div class="controll-wrap">
        <!-- If we need pagination -->
      <div class="pagination"></div>
      <!-- If we need navigation buttons -->
      <div class="button-wrap"> 
        <div class="button button-prev">
          <span class="material-symbols-outlined">
            chevron_left
            </span>
        </div>
        <div class="button button-next">
          <span class="material-symbols-outlined">
            chevron_right
            </span>
        </div>
      </div>
      </div>
    </div>

  </div>

  <div class="container features features__about flex">
    <p class="section-descriptor">Dotarea camerei de conferență</p>
    <div class="feature-list flex">

      <div class="feature-item flex">
        <p class="feature-name">Recepție 24/7</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Duș</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Televizor</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Terasa comună</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Pernă hipoalergică</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Condiționer</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Mini bar</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Toaletă</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Masă de lucru</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Izolare fonică</p>
      </div>

    </div>
  </div>
</section>