<section id="experience" class="section experience">
  <div class="container experience__container">
    <div class="section-info flex">
      <p class="section-descriptor">Hotel central  -  Experiență</p>
      <p class="h2">Dizolvăte într-o nouă  <span class="italic">cultură</span></p>
      <p class="section-description mont">
        Soroca este unul dintre orașele cele mai pitorești din Nordul Republicii Moldova. Aici sunt concentrate cele mai multe lucruri și locații care ne povestesc istoria neamului Molodvenesc ceea ce este cu desăvârșire un punct forte pentru iubitorii de călătorii locale.
      </p>
    </div>
  <!-- Slider main container -->
<div class="experience">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="./img/lux.jpg" alt="">
      <p class="slide-name">Cetatea Soroca</p>
    </div>
    <div class="swiper-slide">
      <img src="./img/double.jpg" alt="">
      <p class="slide-name">Lumânarea Recunoștinței</p>
    </div>
    <div class="swiper-slide">
      <img src="./img/single.jpg" alt="">
      <p class="slide-name">Râul Nistru</p>
    </div>
  </div>
</div>
</div>
</section>