<section class="section features-slider">
    <div class="container feature-slider_container">
        <span class="descriptor">Hotel central - facilități</span>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="./img/feature-slider_image.jpg" alt="feature image">
                </div> 
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="./img/feature-slider_image2.jpg" alt="feature image">
                </div> 
            </div>
            </div>
        
        
            <div class="slider-control">
                <!-- If we need navigation buttons -->
                <div class="slider-button swiper-button--prev">
                    <span class="material-symbols-outlined">chevron_left</span>
                </div>
                <div class="slider-button swiper-button--next">
                    <span class="material-symbols-outlined">chevron_right</span>
                </div>
            </div>
        </div>
    </div>
</section>