<section class="section features-slider">
    <div class="container feature-slider_container">
        <span class="descriptor">Hotel central - facilități</span>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="./img/feature-slider_image.jpg" alt="feature image">
            </div>
            </div>
        
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>