<footer class="section footer">
  <div class="container footer__container mont">

    <div class="brand ">
      <p class="h3 footer-logo">hotel central</p>
      <p class="develop mont">
        <a href="">developed by Evheny</a>
      </p>
    </div>

    <div class="addres ">
      <p class="footer__descr mont">Adressa</p>
      <p class="footer__content mont ">Mihai Kogalniceanu 20, Soroca 3000</p>
    </div>

    <div class="contact">
      <p class="footer__descr  mont">Recepție Cazare</p>
      <div class="footer__content mont">
        <a href="tel:+(373) 683-490-62">+(373) 683-490-62</a>
      </div>
    </div>

    <div class="email">
      <p class="footer__descr mont">Adressa</p>
      <div class="footer__content mont">
        <a href="mail:info@hotelcentral.md">info@hotelcentral.md</a>
      </div>
    </div>

  </div>
</footer>