<header class="header">
    <div class="container header__container flex">
        <a href="/" class="logo-wrap">
            <img class="logo" src="./img/logo.svg" alt="logo-company">
        </a>
        <div class="nav-wrap flex">
            <nav class="nav desktop-nav">
                <ul class="nav-items flex">
                    <li><a class="mont link" href="#rooms">cazare</a></li>
                    <li><a class="mont link" href="#wellnes">bunăstare</a></li>
                    <li><a class="mont link" href="#experience">experineță</a></li>
                    <li><a class="mont link" href="#restaurant">restaurant</a></li>
                    <li><a class="mont link" href="#conference">conferență</a></li>
                </ul>
                <div class="burger">
                    <span class="burger__item"></span>
                    <span class="burger__item"></span>
                    <span class="burger__item"></span>
                </div>
            </nav>
            <nav class="mobile-nav">
                <div class="burger burger__mobile">
                    <span class="burger__item"></span>
                    <span class="burger__item"></span>
                    <span class="burger__item"></span>
                </div>
            </nav>
        </div>
    </div>
</header>
