<header class="header">
    <div class="container header__container flex">
        <div class="logo-wrap">
            <img class="logo" src="./img/logo.svg" alt="logo-company">
        </div>
        <div class="nav-wrap flex">
            <nav class="nav desktop-nav">
                <ul class="nav-items flex">
                    <li><a class="mont" href="">cazare</a></li>
                    <li><a class="mont" href="">bunăstare</a></li>
                    <li><a class="mont" href="">experineță</a></li>
                    <li><a class="mont" href="">restaurant</a></li>
                    <li><a class="mont" href="">conferență</a></li>
                </ul>
                <div class="burger">
                    <span class="burger__item"></span>
                    <span class="burger__item"></span>
                    <span class="burger__item"></span>
                </div>
            </nav>
            <nav class="mobile-nav">
                <ul class="nav-items__mobile flex">
                    <li><a class="mont" href="">cazare</a></li>
                    <li><a class="mont" href="">bunăstare</a></li>
                    <li><a class="mont" href="">experineță</a></li>
                    <li><a class="mont" href="">restaurant</a></li>
                    <li><a class="mont" href="">conferență</a></li>
                </ul>
                <div class="burger burger__mobile">
                    <span class="burger__item"></span>
                    <span class="burger__item"></span>
                    <span class="burger__item"></span>
                </div>
            </nav>
        </div>
    </div>
</header>