<header class="header">
    <div class="container header_container flex">
        <div class="header_menu-translate flex">

            <div class="news-burger flex">
                <div class="news-burger_container">
                    <span class="news-burger_line"></span>
                    <span class="news-burger_line"></span>
                    <span class="news-burger_line"></span>
                </div>
            </div>

        </div>

        <a class="header-logo">hotel central</a>

        <div class="header_contact-button flex">
            <button>
                <span class="button-text">bronează</span>
                <div class="button-icon">
                    <span class="material-symbols-outlined">calendar_today</span>
                    <span class="button-icon_text pop">book</span>
                </div>
            </button>
        </div>

    </div>
</header>