<section class="hero hero-section overlay" style="background-image:url('./img/Hero-bg.jpg') ;">
  <div class="container hero-container flex">
    <div class="hero-content flex">
      <p class="section-descriptor">hotel central</p>
      <h1 class="h1 italic">Stil <span class="italic">rustic</span> comfort <span class="italic">inedit</span></h1>
      <button class="button-cta mont">
        <span class="btn-text">rezervează</span>
        <span class=" btn-icon material-symbols-outlined">
        arrow_forward
        </span>
      </button>
    </div>
  </div>
</section>