<section class="news">
    <div class="container news-container">
        <div class="news-content">

            <div class="news-heading">
                <p class="news_description">Noutăți / Promoții</p>
                <div class="news_heading-control flex">
                    <h3 class="news_heading">Fii <span class="italic">împreună</span> cu noi <span class="italic">la
                            orice prilej</span> </h3>
                    <div class="slider-control ">
                        <i class="material-symbols-outlined slider-arrow slider-arrow--left">arrow_back</i>
                        <i class="material-symbols-outlined slider-arrow slider-arrow--right">arrow_forward</i>
                    </div>
                </div>
            </div>

        </div>

        <div class="news-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">

                    <div class="news-post flex">
                        <span class="news-post_date pop">02.02.2022</span>
                        <p class="news-post_heading">Petrece <span class="italic">Ziua îndrăgostiților</span> în incint
                            hotelului</p>
                    </div>
                    
                </div>

                <div class="swiper-slide">

                    <div class="news-post flex">
                        <span class="news-post_date pop">02.02.2022</span>
                        <p class="news-post_heading">Petrece <span class="italic">Ziua îndrăgostiților</span> în incint
                            hotelului</p>
                    </div>
                    
                </div>

                <div class="swiper-slide">

                    <div class="news-post flex">
                        <span class="news-post_date pop">02.02.2022</span>
                        <p class="news-post_heading">Petrece <span class="italic">Ziua îndrăgostiților</span> în incint
                            hotelului</p>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</section>