<section class="section restaurant">
    <div class="container restaurant-container section-container flex">
        <span class="descriptor">Hotel central  -  Restaurant</span>
        <h2><span class="italic">Înghite o porție</span> adevărată de a fi <span class="italic">Moldovean</span></h2>
        <p class="section-descr">
            Vă propunem să gustați un ansamblu de tradiții moldovenești
             transformate în mâncare care-ți trezește pofta de viață pentru a 
            petrece clipe de neuitat și a simți gusturi de nedescris
        </p>

        <!-- Slider main container -->
        <div class="swiper-restaurant">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="./img/feature-slider_image.jpg" alt="feature image">
                </div> 
                <div class="slide-content">
                    <h3>Ambianța</h3>
                    <p class="slider-descr">
                        Restaurantul vă poate pune la dispoziție bucate din gastronomia
                        națională plină de gust și istorie care vă va prezenta 
                        ospitalitatea poporului moldav.
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="./img/feature-slider_image2.jpg" alt="feature image">
                </div> 
                <div class="slide-content">
                    <h3>Ambianța</h3>
                    <p class="slider-descr">
                        Restaurantul vă poate pune la dispoziție bucate din gastronomia
                        națională plină de gust și istorie care vă va prezenta 
                        ospitalitatea poporului moldav.
                    </p>
                </div>
            </div>
            </div>
        
        
            <div class="slider-control">
                <!-- If we need navigation buttons -->
                <div class="slider-button swiper-button--prev">
                    <span class="material-symbols-outlined">chevron_left</span>
                </div>
                <div class="slider-button swiper-button--next">
                    <span class="material-symbols-outlined">chevron_right</span>
                </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>