<section class="section rooms-section">
  <div class="container rooms__container flex">
    <div class="section-info flex">
      <p class="section-descriptor">hotel central - camere</p>
      <p class="h2"> <span class="italic">Cazează-te</span> în una dintre <span class="italic">camerele noastre</span>  </p>
      <p class="section-description mont">
        Camerele noastre deși mici sunt foarte confortabile aceasta se datorează angajaților hotelului care au grijă ca la cazare totul să fie ideal. De asemenea conceptul hoteluui și locația acestuia vă poate uimi cu simplitatea și liniștea sa
      </p>
    </div>
    <div class="post-list">

      <div class="post-list__item ">
        <img  class="post__image" src="./img/single.jpg" alt="single room">
        <p class=" h4 post-name">single standart</p>
        <div class="post-descr mont flex">
          <p class="post-descr__aria">25 m2 /</p>
          <p class="post-descr__bad-type">Pat Single sau Double /</p>
          <p class="post-descr__person">1 - 2 locatari</p>
        </div>
      </div>

      <div class="post-list__item">
        <img  class="post__image" src="./img/single.jpg" alt="single room">
        <p class=" h4 post-name">single standart</p>
        <div class="post-descr mont flex">
          <p class="post-descr__aria">25 m2 /</p>
          <p class="post-descr__bad-type">Pat Single sau Double /</p>
          <p class="post-descr__person">1 - 2 locatari</p>
        </div>
      </div>

      <div class="post-list__item">
        <img  class="post__image" src="./img/single.jpg" alt="single room">
        <p class=" h4 post-name">single standart</p>
        <div class="post-descr mont flex">
          <p class="post-descr__aria">25 m2 /</p>
          <p class="post-descr__bad-type">Pat Single sau Double /</p>
          <p class="post-descr__person">1 - 2 locatari</p>
        </div>
      </div>
    </div>
  </div>
</section>