<section class="section rooms" style="background-color: #1F301C;">
    <div class="container rooms-container section-container flex">
        <span class="descriptor">Hotel central  -  Camere</span>
        <h2 class="rooms-heading"> <span class="italic">Cazează-te</span>  în una dintre camerele <span class="italic">noastre</span></h2>
        <p class="section-descr">
            Camerele noastre deși mici sunt foarte confortabile aceasta se datorează angajaților 
            hotelului care au grijă ca la cazare totul să fie ideal. De asemenea conceptul hoteluui și 
            locația acestuia vă poate uimi cu simplitatea și liniștea sa </p>
        <div class="rooms-items">

            <div class="room-item">
                <img src="./img/single.jpg" alt="single room">
                <h3 class="room-item__heading">Singe Standart</h3>
                <p class="room-descr flex">
                    <span class="pop descr-specification room_aria">25m2 /</span>
                    <span class="pop descr-specification room_bad-type">Pat Single sau Double /</span>
                    <span class="pop descr-specification room_residents">1 - 2 locatari </span>
                </p>
            </div>

            <div class="room-item">
                <img src="./img/double.jpg" alt="single room">
                <h3 class="room-item__heading">Double Standart</h3>
                <p class="room-descr flex">
                    <span class="pop descr-specification room_aria">25m2 /</span>
                    <span class="pop descr-specification room_bad-type">Pat Single sau Double /</span>
                    <span class="pop descr-specification room_residents">1 - 2 locatari </span>
                </p>
            </div>

            <div class="room-item ">
                <img src="./img/double.jpg" alt="single room">
                <h3 class="room-item__heading">Double Standart</h3>
                <p class="room-descr flex">
                    <span class="pop descr-specification room_aria">25m2 /</span>
                    <span class="pop descr-specification room_bad-type">Pat Single sau Double /</span>
                    <span class="pop descr-specification room_residents">1 - 2 locatari </span>
                </p>
            </div>
        </div>

        <div class="feature flex">
            <span class="descriptor">descoperă camerele</span>
            <div class="feature-items flex">
                <div class="feature-item">
                    <h6 class="feature-items_text">Recepție 24/7</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Duș</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Televizor</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Pernă hipoalergică</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Condiționer</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Mini bar</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Toaletă</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Masă de lucru</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Izolare fonică</h6>
                </div>
            </div>
        </div>

    </div>
</section>