<section id="rooms"   class="section rooms-section">
  <div class="container rooms__container flex">
    <div class="section-info flex">
      <p class="section-descriptor">hotel central - camere</p>
      <p class="h2"> <span class="italic">Cazează-te</span> în una dintre <span class="italic">camerele noastre</span>  </p>
      <p class="section-description mont">
        Camerele noastre deși mici sunt foarte confortabile aceasta se datorează angajaților hotelului care au grijă ca la cazare totul să fie ideal. De asemenea conceptul hoteluui și locația acestuia vă poate uimi cu simplitatea și liniștea sa
      </p>
    </div>
    <div class="post-list">

      <div class="post-list__item ">
        <img  class="post__image" src="./img/single.jpg" alt="single room">
        <a href="../pages/room.html" class=" h4 post-name link">single standart</a>
        <div class="post-descr mont flex">
          <p class="post-descr__aria">25 m2 /</p>
          <p class="post-descr__bad-type">Pat Single sau Double /</p>
          <p class="post-descr__person">1 - 2 locatari</p>
        </div>
      </div>

      <div class="post-list__item">
        <img  class="post__image" src="./img/double.jpg" alt="single room">
        <a href="../pages/room.html" class=" h4 post-name link">single standart</a>
        <div class="post-descr mont flex">
          <p class="post-descr__aria">25 m2 /</p>
          <p class="post-descr__bad-type">Pat Single sau Double /</p>
          <p class="post-descr__person">1 - 2 locatari</p>
        </div>
      </div>

      <div class="post-list__item">
        <img  class="post__image" src="./img/lux.jpg" alt="single room">
        <a href="../pages/room.html" class=" h4 post-name link">single standart</a>
        <div class="post-descr mont flex">
          <p class="post-descr__aria">25 m2 /</p>
          <p class="post-descr__bad-type">Pat Single sau Double /</p>
          <p class="post-descr__person">1 - 2 locatari</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container features features__about flex">
    <p class="section-descriptor">Descoperă camerele</p>
    <div class="feature-list flex">

      <div class="feature-item flex">
        <p class="feature-name">Recepție 24/7</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Duș</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Televizor</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Terasa comună</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Pernă hipoalergică</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Condiționer</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Mini bar</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Toaletă</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Masă de lucru</p>
      </div>

      <div class="feature-item flex">
        <p class="feature-name">Izolare fonică</p>
      </div>

    </div>
  </div>
</section>