<section class="section travel">
   <div class="container travel-container flex">

       <div class="travel_heading flex">
           <h2 class="travel_heading">Dizolvăte într-o nouă <span class="italic">cultură</span> </h2>
           <p class="travel_descr">
            Soroca este unul dintre orașele cele mai pitorești din Nordul Republicii Moldova. 
            Aici sunt concentrate cele mai multe lucruri și&nbsp;locații care ne&nbsp;povestesc istoria 
            neamului Molodvenesc ceea ce&nbsp;este cu&nbsp;desăv&acirc;rșire un&nbsp;punct forte pentru 
            iubitorii de&nbsp;călătorii locale.
           </p>
       </div>

       <div class="travel-list">
           
       </div>
   </div> 
</section>