<section class="section wellnes-section">
    <div class="container wellnes-container section-container flex">

        <span class="descriptor">Hotel central  -  Sauna</span>
        <h2 class="wellnes-heading"><span class="italic">Relaxeazăte</span>  în una dintre saunele noastre</h2>
        <p class="section-descr">
            Hotelul nostru vă pune la dispoziție cele două saune din incintă pentru a avea posibiltatea să atingeți și alte culturi precum cea Turcească și Finlandeză
        </p>

        <div class="wellnes-items">
            <div class="wellnes-item">
                <img class="overlay" src="./img/wellnes-hamam.jpg" alt="">
                <h3 class="wellnes-item__heading">Sauna Hamam</h3>
                <p class="wellnes-descr flex">
                    <span class="pop descr-specification room_aria">25m2 /</span>
                    <span class="pop descr-specification room_bad-type">Pat Single sau Double /</span>
                    <span class="pop descr-specification room_residents">1 - 2 locatari </span>
                </p>
            </div>
            <div class="wellnes-item">
                <img class="overlay" src="./img/wellnes-finlandez.jpg" alt="">
                <h3 class="wellnes-item__heading">Sauna Finlandeză</h3>
                <p class="wellnes-descr flex">
                    <span class="pop descr-specification room_aria">25m2 /</span>
                    <span class="pop descr-specification room_bad-type">Pat Single sau Double /</span>
                    <span class="pop descr-specification room_residents">1 - 2 locatari </span>
                </p>
            </div>
        </div>

        <div class="feature flex">
            <span class="descriptor">descoperă camerele</span>
            <div class="feature-items flex">
                <div class="feature-item">
                    <h6 class="feature-items_text">Recepție 24/7</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Duș</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Televizor</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Pernă hipoalergică</h6>
                </div>
                <div class="feature-item">
                    <h6 class="feature-items_text">Condiționer</h6>
                </div>
            </div>
        </div>
    </div>
</section>