<section class="hero hero-section room-page overlay" style="background-image:url('./img/Hero-bg.jpg') ;">
  <div class="container hero-container flex">
    <div class="hero-content flex">
      <p class="section-descriptor">rooms</p>
      <h1 class="h1 italic">Single / Double Standart</h1>
      <div class="rooms-params">

        <div class="params-item">
          <p class="mont">Suprafață</p>
          <p class="rooms-h3">25m2</p>
        </div>

        <div class="params-item">
          <p class="mont">oaspeți</p>
          <p class="rooms-h3">1 - 2</p>
        </div>

        <div class="params-item">
          <p class="mont">pat</p>
          <p class="rooms-h3">single / double</p>
        </div>
      </div>
      <button class="button-cta mont">
        <span class="btn-text">rezervează</span>
        <span class=" btn-icon material-symbols-outlined">
        arrow_forward
        </span>
      </button>
    </div>
  </div>
</section>