// Add the global setting for Heading an Global Components

//Heading

h1{
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
}

h2{
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
}

h3{
    font-size: 36px;
    font-style: 400;
    line-height: 1;
}

h4{
    font-size: 28px;
    font-weight: 400;
    line-height: 1.1;
}

p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.card-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}











//General Settings

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex{
    display: flex;
}
.delimiter{
    display: block;
    margin-top: 40px;
}
.section{
    margin: 200px 0 ;
}

.scroll-none{
    overflow: hidden;
}

body{
    position: relative;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #3333;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


//General Components

.italic{
    font-style: italic;
}

a{
    text-decoration: none;
    color: $default;
}

.pop{
    font-family: 'Poppins',serif;
    font-size: 12px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba($default, .1);

}
