//General Settings
img{
    width: 100%;
    height: 100%;
    background-position: center center;
}
.container{
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 $containerPadding;
}
main{
    overflow: hidden;
}
body{
    position: relative;
    font-family: $font;
    font-size: 62.5%;//10px
    line-height: 1.5;
    font-weight: normal;
    color: $default;
    background-color: $backgrounColor;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


//General Components

.italic{font-style: italic;}
.mont{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: $default;
}

.overlay::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($overlay, .8);

}

.flex{display: flex;}

.section-descriptor{
    font-family: "Montserrat", serif;
    font-weight: 600;
    text-transform: uppercase;
    color: $accent;
    padding-bottom: 20px;
    text-align: center;
}

.section{
    padding-top: 100px;
    padding-bottom: 100px;
}


.features{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    max-width: 590px;
}
.feature-list{
    max-width: 590px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.feature-name{
    font-size: 16px;
    text-transform: capitalize;
}

.feature-item{
    justify-content: space-between;
    max-width: 285px;
    padding-bottom: 10px;
    flex: 1 1 285px;
    border-bottom: 1px solid rgba($default, .2);

}


.slider{
    position: relative;
    overflow: hidden;
    height: 95vh;
    .swiper-wrapper{
        position: relative;
        .overlay::after{
            background-color: rgba($default , .5 );
        }
    }
}

@include mobile {
    .slider{
        height: 95vw;
    }
}

.button-wrap{
    display: flex;
    gap: 20px;
}

.controll-wrap{
    display: flex;
    position: absolute;
    bottom: 40px;
    right: 40px;
    left: 40px;
    top: auto;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 100%;
    border: 1px solid $white;
    color: $white;
    &:hover{
        cursor: pointer;
    }
}

.pagination{
    display: flex;
    width: 100%;
    gap: 10px;
}

.swiper-pagination-bullet-active{
    background-color: #fff;
}

.swiper-pagination-bullet{
    background-color: #fff;
}

.section-info{
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.section-description{
    max-width: 386px;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    color: $default;

}


.h1{
    max-width: 870px;
    font-size: 110px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
}

.h2{
    max-width: 590px;
    font-size: 64px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
}

.h3{
    max-width: 630px;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

.h4{
    font-size: 24px;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
}


@include laptop {
    .h1{
        max-width: 740px;
        font-size: 90px;
    }

    .h2{
        max-width: 590px;
        font-size: 64px;
    }

    .h3{
        max-width: 630px;
        font-size: 25px;
    }

    .container{
        max-width: 900px;
    }
}

@include tablet {
    .h1{
        max-width: 600px;
        font-size: 74px;
    }

    .h2{
        max-width: 590px;
        font-size: clamp(32px ,10vw,64px);
    }

    .h3{
        max-width: 600px;
        font-size: 18px;
    }

    .container{
        max-width: 600px;
    }

}

@include mobile {
    .h1{
        font-size: 48px;
    }

    .h2{
        font-size: 32px;
        max-width: 300px;
    }

    .h3{
        font-size: 16px;
    }

    .section-description{
        max-width: 300px;
    }

    .controll-wrap{
        right: 20px;
        bottom: 20px;
        left: 20px;
    }
}




