// Add the global setting for Heading an Global Components

//Heading

h1{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    line-height: 1.2;
}








//General

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.flex{
    display: flex;
}

body{
    position: relative;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: 500;
}
.italic{
    font-style: italic;
}

a{
    text-decoration: none;
    color: $default;
    
}
button{
    border: 1px solid $default;
    padding: 20px 40px;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    font-weight: 600;
    color: $default;
    &:hover{
        cursor: pointer;
        background-color: $accent;
        color: $white;
        border: 1px solid $accent;
        transition: all .3s ease-in-out;
    }

}
.button-white{
    border: 1px solid $white;
    color: $white;
    &:hover{
        color: $default;
        background-color: $white;
        border: 1px solid $white;

    }
}

.pop{
    font-family: 'Poppins',serif;
    font-size: 12px;
}
