//Heading


h1{
    font-size: $heading1;
}

h2{
    font-size: $heading2;
}

h3{
    font-size: $heading3;
}

h4{
    font-size: $heading4;
}

h5{
    font-size: $heading5;
}

h6{
    font-size: $heading6;
}






//General Settings

.container{
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 $containerPadding;
}



.section{
    padding: $sectionPadding;
}

.scroll-none{
    overflow: hidden;
}

body{
    position: relative;
    font-family: $font;
    font-size: $regular;
    line-height: 1.3;
    font-weight: normal;
    background-color: $backgrounColor;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


//General Components

.italic{    
    font-style: italic;
}

a{
    text-decoration: none;
    color: $default;
}

.pop{
    font-family: 'Poppins',serif;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba($overlay, .8);

}

.flex{
    display: flex;
}

.descriptor{
    font-size: $sectionDescr;
    color: $accent;
    font-family: 'Poppins', sans-serif;
}