
//Container & Breackpoints

$containerWidth: 1200px;
$containerPadding: 0 20px;
$sliderHeight:clamp(420px ,95vh , 650px);


//Color

$overlay: #132635;
$accent: #C4975E;
$default: #132635;
$white: #fff;
$green:#1F301C;
$backgrounColor:#EDEDED;

//Fonts

$font:'Lovelace', serif ;
$fontItalic:'Lovelace-Italic', serif ;