//Global
@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/reset.css/reset.css";
@import "../../node_modules/swiper/swiper-bundle.css";
@import "variables";
@import "mixins";
@import "global";

//Components

@import "./components/header";
@import "./components/hero";