//Global
@import "variables";
@import "mixins";
@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/reset.css/reset.css";
@import "global";
@import "../../node_modules/swiper/swiper-bundle.css";

//Components

@import "./components/header";
@import "./components/hero";
@import "./components/news";
@import "./components/about";
@import "./components/rooms";




// Media Querry

@import "./media/laptoplarge"; //media querry for laptop
@import "./media/laptop"; //media querry for laptop
@import "./media/tablet"; //media querry for tablet
@import "./media/mobile"; //media querry for mobile